* {
    margin: 0;padding: 0;
}
.main {
    box-sizing: border-box;
    border-top: 200px rgba(1, 1, 1, 0.5) ;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #ffeb25;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    z-index: 1;

}

.text {
    line-height: 200%;
    letter-spacing: 10px;
    height: 100vh;
    position: absolute;
    bottom: 0;
    animation: fly 30s linear infinite;
    z-index: 2;

}

@keyframes fly {
    from {
        top: 100%;
        transform: perspective(150px) rotateX(20deg) scale(1) translateZ(0);

    }
    to {
        top: -150%;
        transform: perspective(200px) rotateX(25deg) scale(1.5) translateZ(-350px);

   }
}


